.center-vertical-ios {
    margin-top: calc(50vh - var(--panelheader_height_ios));
    transform: translateY(-50%);
}

.center-vertical-android {
    margin-top: calc(50vh - var(--panelheader_height_android));
    transform: translateY(-50%);
}

.accent-color {
    color: var(--accent);
}
